doctype html
html(lang="en")
    head
        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge")
        link(rel="stylesheet" href="/bootstrap/css/bootstrap.css")
        link(rel="stylesheet" href="/site.css")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        block title
            title Default Title
    body
        nav(class="navbar navbar-inverse navbar-fixed-top")
            .container
                .navbar-header
                    button(type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar")
                        span(class="sr-only") Toggle navigation
                        span(class="icon-bar")
                        span(class="icon-bar")
                        span(class="icon-bar")
                    a(class="navbar-brand" href="#") Project name
                #navbar.collapse.navbar-collapse
                    ul(class=" nav navbar-nav")
                        li(class="active"): a(href="#") Home
                        li: a(href="#") About
                        li: a(href="#contact") Contact
        .container.padded-top
            block content

        script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js")
        script(src="/bootstrap/js/bootstrap.min.js")
    
